@import "~antd/dist/antd.css";

/* modal */
.modal-wrapper {
  /* to center modal */
  margin: auto;
}
.modal-wrapper {
  width: 95%;
}
@media screen and (min-width: 1600px) {
  .modal-wrapper {
    width: 70%;
  }
}

.required label:not(.ant-radio-wrapper)::before {
    content: "*";
    color: red;
}
